<mat-toolbar color="primary">
  <button mat-button class="toolbar-button" (click)="clickAddPlayer.emit()">Add Player</button>
  <button mat-button class="toolbar-button" (click)="clickAddNPC.emit()">Add NPC</button>
  <button [disabled]="inCombat" mat-button class="toolbar-button" (click)="clickRollInitiative.emit()">Roll Initiative
  </button>
  <button *ngIf="!inCombat" mat-raised-button color="accent" class="toolbar-button" (click)="clickStartCombat.emit()">
    Start Combat
  </button>
  <button *ngIf="inCombat" mat-raised-button color="accent" class="toolbar-button" (click)="clickEndCombat.emit()">End
    Combat
  </button>
  <section class="right-aligned">
    <button mat-button [disabled]="!dmMode" (click)="clickSave.emit()">Save</button>
    <button mat-button [disabled]="!dmMode" (click)="clickLoad.emit()">Load</button>
    <mat-slide-toggle [checked]="dmMode" labelPosition="before" (change)="toggleDMMode.emit($event)">DM Mode
    </mat-slide-toggle>
  </section>

</mat-toolbar>
