<div class="container">
  <dnd-toolbar [dmMode]="dmMode" [inCombat]="inCombat" (clickAddPlayer)="onClickAddPlayer()"
               (clickAddNPC)="onClickAddNPC()"
               (clickRollInitiative)="onClickRollInitiative()" (clickStartCombat)="onClickStartCombat()"
               (clickEndCombat)="onClickEndCombat()"
               (clickSave)="onClickSave()"
               (clickLoad)="onClickLoad()"
               (toggleDMMode)="onToggleDMMode($event)">
  </dnd-toolbar>


  <dnd-edit *ngIf="!inCombat" class="edit-field" [characters]="characters$ | async" [dmMode]="dmMode"
            (clickDelete)="onClickDelete($event)"></dnd-edit>

  <dnd-active></dnd-active>

</div>

